<?php
    define("_HOST_","localhost");
    define("_USER_","DB_User");
    define("_PASSWORD_", "BD_password");
    define("_DB_NAME_", "DB_name");
    define("_DRIVER_", "mysql");
    define("_Debug_Mode_", 0);
    define("_PAGE_RECORD_NUM_", 5);
    define("_PORT_","3306");

    // Reset Password
    define("_ACCOUNT_SID_", "sid");
    define("_AUTH_TOKEN_", "token");
    define("_SENDER_", "sender mobile")
?>
