@import "/assets/CSS/root.css";

/* ---------------------------------------------------------------------------------------------------------- */
/* Dashboard Dark mode */
.dark-mode{
    color: white;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Nav Dark mode */
.dark-mode section {
    background: var(--darkBackground-color) url("../Images/DarkModeBackground.jpg");
}

.dark-mode nav{
    background: #2C2931;
}

.dark-mode nav ul li a{
    color: white;
}

.dark-mode nav ul li a:hover {
    background: #413e47;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Home Dark mode */
.dark-mode .homeSection .logo{
    color: var(--dark-primary-color);
}

.dark-mode .homeSection .content p{
    color: var(--darkText-Color);
}

.dark-mode .homeSection .cta:hover,
.dark-mode .active {
    background: var(--dark-primary-color);
}

.dark-mode table{
    color:#fff;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 20px;
}