@import "/assets/CSS/root.css";

/* ---------------------------------------------------------------------------------------------------------- */
/* Dashboard Light mode */
.light-mode section {
    background: var(--lightBackground-color) url("/assets/Images/pexels-adrien-olichon-4237148.jpg");
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Nav Dark mode */
.light-mode nav {
    background: white;
    color: black;
}
.light-mode nav ul li a  {
    color: black;
}
.light-mode .active, 
.light-mode .active:hover, 
.light-mode nav ul li a:hover, 
.light-mode .homeSection .cta:hover  {
    background: var(--lightBackground-color);
}

.light-mode .active{
    color: white;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Home Dark mode */
.light-mode .homeSection h1 {
    color: var(--lightPrimary-color);
}

.light-mode .homeSection .content p,
.light-mode .homeSection .logo {
    color: white;
}