.stroke1 {
    animation: line1 2s 1 ease-in-out;
}

.stroke2 {
    animation: line2 2s 1 ease-in-out;
}

.stroke3 {
    animation: line3 2s 1 ease-in-out;
}

.stroke4 {
    animation: line4 2s 1 ease-in-out;
}

@keyframes line1 {
    0% {
        stroke-dashoffset: 240;
        stroke-width: 0;
    }  
    50% {
        stroke-dashoffset: 0;
        stroke-width: 32;
    }
}

@keyframes line2 {
    0%,50% {
        stroke-dashoffset: 50;
        stroke-width: 0;
    }
    70% {
        stroke-dashoffset: 0;
        stroke-width: 32;
    }
}

@keyframes line3 {
    0%,40% {
        stroke-dashoffset: 240;
        stroke-width: 0;
    }
    90% {
        stroke-dashoffset: 0;
        stroke-width: 32;
    }
}

@keyframes line4 {
    0%,80% {
        stroke-dashoffset: 50;
        stroke-width: 0;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-width: 32;
    }
}