@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');
@import "/assets/CSS/root.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');

/* ---------------------------------------------------------------------------------------------------------- */
/* Dashboard */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
    overflow-y: hidden;
}

.container-fluid {
    height: 100vh;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Nav */
nav {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    max-width: 300px;
    transform: translateX(-100%);
    transition: transform 0.3s;

}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 0.875em 5em 0.875em 4em;
}

section {
    background-size: cover;
    background-blend-mode: screen;
    background-position: -100px;
    height: 100%;
    padding: 2em;
    border-radius: 13px;
    overflow-y: auto;
}

.back-btn {
    transform: scaleX(-1);
    padding: 3em 4em 2em;
    cursor: pointer;
    transition: transform 0.3s;
}

.back-btn:hover {
    transform: scaleX(-1) translateX(6px);
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Darkmode toggle */
.checkbox-wrapper-5 .check {
    --size: 40px;
    position: relative;
    background: linear-gradient(90deg, #f19af3, #f099b5);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
}

.checkbox-wrapper-5 .check input[type="checkbox"],
.checkbox-wrapper-5 .check label,
.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after,
.checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: 0.35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox-wrapper-5 .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
}

.checkbox-wrapper-5 .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(0.8 * var(--size));
    height: calc(0.8 * var(--size));
    top: calc(0.1 * var(--size));
    left: calc(0.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
    outline: none;
    margin: 0;
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
    background: transparent;
}

.checkbox-wrapper-5 .check label::before,
.checkbox-wrapper-5 .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(0.15 * var(--size));
    top: calc(0.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(0.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
}

.checkbox-wrapper-5 .check label::after {
    content: "●";
    top: calc(0.65 * var(--size));
    left: calc(0.2 * var(--size));
    height: calc(0.1 * var(--size));
    width: calc(0.35 * var(--size));
    font-size: calc(0.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    left: calc(1.55 * var(--size));
    top: calc(0.4 * var(--size));
    line-height: calc(0.1 * var(--size));
    transform: rotateY(360deg);
}

.checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    height: calc(0.16 * var(--size));
    top: calc(0.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(0.6 * var(--size));
    line-height: 0;
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Home Section */
.homeSection .logo {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: -0.1em;
    text-align: center;
    width: 100%;
    margin: 0;
}

.homeSection header {
    display: flex;
}

.homeSection .menu-btn {
    cursor: pointer;
}

.homeSection h1 {
    font-size: clamp(2.5rem, -0.875rem + 8.333vw, 4rem);
    font-weight: 800;
    text-transform: uppercase;
    line-height: 89%;
}

.homeSection .cv {
    display: grid;
    place-items: center;
    height: 80%;
}

.homeSection .content p {
    font-size: clamp(2rem, -0.875rem + 8.333vw, 3rem);
    font-weight: 300;
    line-height: 111%;
    margin-top: 1.1em;
}

.homeSection .cta {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2.875em;
    display: inline-block;
    padding: 1.25em 1.25em 1.25em calc(2.5em + 1.5em);
    position: relative;
    transition: all 0.3s ease-in-out;
    color: white;
    border: 1px solid #4D4D4D;
}

.homeSection .cta:before {
    content: "";
    position: absolute;
    background: url("../Images/arrow.png") no-repeat;
    width: 1.5em;
    height: 1.5em;
    left: 1.25em;
}

.homeSection .cta:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Responsive */
@media only screen and (min-width: 700px) {
    .left-col {
        display: flex;
    }

    .content p {
        width: 70%;
    }
}

@media only screen and (min-width: 1000px) {
    nav {
        position: unset;
        transform: translateX(0) !important;
        border-radius: unset;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
        height: 100%;
        padding-top: 4em;
    }

    .menu-btn,
    .back-btn {
        display: none;
    }

    header {
        padding: 1.6em;
    }

    .container-fluid {
        display: flex;
    }

    .logo {
        text-align: left;
    }

    section {
        border-radius: unset;
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
        width: 100%;
        background-size: cover;
        background-position: 0;
        background-attachment: unset;
    }

    .content {
        justify-self: left;
        margin-left: 4em;
    }
}